<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <form #signupForm=ngForm (ngSubmit)="onSubmit()">
                  <!-- <div class="alert alert-danger"[hidden]="!error">
                    {{error}}
                  </div> -->
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="form.email" required>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputName1" class="form-label">Name</label>
                      <input type="text" name="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" [(ngModel)]="form.name" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="form.password" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPasswordConfirmation1" class="form-label">Confirm Password</label>
                      <input type="password" name="password_confirmation" class="form-control" id="exampleInputPasswordConfirmation1" [(ngModel)]="form.password_confirmation" required>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button> -->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Signup</button>
                      <a routerLink="/login" class="btn btn-info">Login</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
